<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.michaelbelkin.cordova-plugin-user-defaults"
        version="1.0.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/MBUserDefaults.js" target="js/MBUserDefaults.js"/>

  <js-module src="www/MBUserDefaults.js" name="MBUserDefaults">
    <clobbers target="MBUserDefaults" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="MBUserDefaults">
        <param name="ios-package" value="MBUserDefaults" />
      </feature>
    </config-file>

    <header-file src="src/ios/MBUserDefaults.h" target-dir="MBUserDefaults"/>
    <source-file src="src/ios/MBUserDefaults.m" target-dir="MBUserDefaults"/>
  </platform>

</plugin>